/* ------------- common css ------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
span,
div,
li,
ul,
ol {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Sansation", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* ------------------ button css ------------------ */

.primary-btn {
  font-size: 16px;
  background-color: #1d4ed8;
  color: #fff;
  border-radius: 10px;
  padding: 12px;
}
